.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.6%; /* 10px in percentuale */
  background-color: #f8f8f8;
}

.modal-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.6%; /* 10px in percentuale */
  background-color: #f8f8f8;
}

.modal-title {
  margin: 0;
}

.close {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.close span {
  font-size: 2.4vw; /* 24px in percentuale */
}

.modal {
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  overflow: auto;
  --bs-modal-width:900px;
}

.modal-body {
  max-height: 80vh;
  max-width: 300vh; /* 400px in percentuale */
  overflow-y: auto;
}

.s.container {
  display: flex;
  flex-wrap: wrap;
}

.col {
  width: 70%; /* Imposta la larghezza desiderata per ogni colonna */
  padding: 1.6%; /* 10px in percentuale */
}
.image.square {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 10px;
  align-items: center;
  justify-items: center;
  overflow-x: auto;
  white-space: nowrap;
}

.image.square img {
  max-width: 100%;
  max-height: 100%;
}

.image.square video {
  width: 20%;
  height: auto;
}



.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

  span {
    font-size: 2.4vw; /* 20px in percentuale */
    color: white; /* Imposta il colore del testo */
    font-weight: bold; /* Imposta il testo in grassetto */
  }
}

.sel {
  border: 2px solid blue;
}

.col-below {
  width: 100%; /* Imposta la larghezza al 100% per occupare tutta la larghezza della riga */
  padding: 1.6%; /* 10px in percentuale */
}

.custom-dialog {
  width: 80%; /* Imposta la larghezza desiderata, ad esempio 80% */
}
