<div class="modal" id="ipModal" tabindex="-1" aria-labelledby="ipModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ipModalLabel">titolo home page</h5>
      </div>
      <form>
        <div class="modal-body">
          <div class="form-group" >

            <input type="text" class="form-control" id="ipAddress" name="ipAddress" [(ngModel)]="title" placeholder="es: 'scegli il tuo numero'" >
          </div>
        </div>

      </form>
      <div class="modal-footer">
        <button (click)="submitForm()" class="btn btn-primary">next</button>
      </div>
    </div>
  </div>
</div>

