<div class="modal" id="LayoutModal" tabindex="-1" aria-labelledby="ipModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="LayoutModalLabel">Selezionare device</h5>
            </div>

            <div class="modal-body">

                <div class="form-group">
                    <select class="form-control" id="device" name="device" [(ngModel)]="deviuce">
                        <option *ngFor="let device of selectedDevices" [value]="device.id">{{ device.name }}</option>
                      </select>
                </div>


                <div class="modal-footer ">
                    <button (click)="submitForm() " class="btn btn-primary ">save</button>
                </div>
            </div>
        </div>
    </div>
