<div class="modal" id="LayoutModal" tabindex="-1" aria-labelledby="ipModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="LayoutModalLabel">Selezionare layout</h5>
            </div>

            <div class="modal-body">

                <div class="form-group">
                    <select class="form-control" id="layout" name="layout" [(ngModel)]="l">
                        <option *ngFor="let layout of selectedLayout" [value]="layout.id">{{ layout.name }}</option>
                      </select>
                </div>


                <div class="modal-footer ">
                    <button (click)="submitForm() " class="btn btn-primary ">next</button>
                </div>
            </div>
        </div>
    </div>
