.pulsante-wrapper {
  display: flex;
  flex-wrap: wrap;
  max-height: calc(100vh - 20px); // Imposta l'altezza massima del div dei pulsanti meno 20px di margine
  overflow-y: auto;
}

.div-con-elementi {
  width: 50%
}

h1 {
  width: 400px;
}

.pulsante-wrapper {
  display: flex;
  height: 100%;
  width: 100%;
}

.img-fluid {
  max-height: 100%;
  max-width: 100%;
}

.video-background {
  height: 100%;
  max-width: 100%;
  pointer-events: none;
}

.fixed-carousel {
  max-width: 100%;
  max-height: calc(100vh - 3vh); /* Sottrae il 10% dell'altezza della viewport */
  overflow: hidden;
}

.fixed-carousel .carousel-inner,
.fixed-carousel .carousel-item,
.fixed-carousel .img-fluid {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@media (max-width: 700px) {
  .video-background {
      display: none;
  }
  .pulsante-wrapper {
      display: flex;
      justify-content: center;
  }
  #aa {
      float: left;
  }
}
