<div class="all">

  <div *ngIf="layout || risorse">
      <div class="row align-items-start" style="height: 100vh;">
          <div class="col-lg-8 p-0">
              <div *ngIf="layout?.spots && layout.spots?.length > 0" class="pulsante-container">
                  <!-- Contenuto quando layout.spots contiene elementi -->
                  <div *ngIf="pubblicitaCorrente">
                      <div *ngIf="pubblicitaCorrente.type === 'carousel'" class="carousel-wrapper p-0">
                          <ngb-carousel #carousel [interval]="3000" [showNavigationArrows]="false" [showNavigationIndicators]="false" class="h-100">
                              <ng-template ngbSlide *ngFor="let media of pubblicitaCorrente.medias; let i = index">
                                  <div class="carousel-img-wrapper h-100 d-flex align-items-center justify-content-center">
                                      <img [src]="media" alt="Slide {{ i + 1 }}" class="img-fluid carousel-img" />
                                  </div>
                              </ng-template>
                          </ngb-carousel>
                      </div>
                      <div>
                          <div class="video-background videoPlayerWrapper">
                            <video id="videoPlayer" preload="auto" playsinline autoplay muted></video>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 p-0">
              <div class="pulsante-wrapper p-0" style="background-color: #0083ff;">
                  <h1 class="fixed-header">{{layout?.title}}</h1>
                  <div class="col-12 p-4 scrollable-buttons">
                      <div class="row justify-content-end">
                          <!-- Aggiunto 'row justify-content-end' per posizionare i pulsanti a destra -->
                          <div *ngFor="let group of layout?.groups" class="pulsante-container">
                              <div class="aa">
                                  <app-pulsante [gruppo]="group" [risorsee]="risorse"></app-pulsante><br>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-12">
                    <div class="text-center" style="position: relative;">
                        <img [src]="logo?.file" alt="Logo azienda" class="company-logo">

                    </div>
                    <div class="tcopy">
                        <span>&copy; {{ currentYear }}</span>
                    </div>
                </div>
              </div>
          </div>


      </div>
  </div>

  <div *ngIf="!layout?.spots || layout.spots?.length === 0" class="pulsante-container">
      <!-- Contenuto quando layout.spots non contiene elementi -->
      <div class="col-lg-4 p-0">
          <div class="pulsante-wrapper p-0">
              <h1>{{layout?.title}}</h1>
              <div *ngFor="let group of layout?.groups" class="pulsante-container">
                  <app-pulsante [gruppo]="group" [risorsee]="risorse"></app-pulsante><br>
              </div>
          </div>
      </div>
  </div>

</div>
