<div class="all">
    <div *ngIf="layout || risorse">
        <div class="row align-items-start " *ngIf="layout?.spots && layout.spots?.length > 0" style="height: 100vh;">
            <div class="col-lg-8 p-0">
                <div class="pulsante-container">
                    <div *ngIf="pubblicitaCorrente">
                        <div *ngIf="pubblicitaCorrente.type === 'carousel'" class="">

                            <ngb-carousel #carousel [interval]="3000" [showNavigationArrows]="false" [showNavigationIndicators]="false" (slide)="onCarouselSlide($event)">
                                <ng-template ngbSlide *ngFor="let media of pubblicitaCorrente.medias.file; let i = index">

                                    <div class="carousel-img-wrapper h-100 d-flex align-items-center justify-content-center">
                                        <img [src]="media" alt="Slide {{ i + 1 }}" class="img-fluid carousel-img" />
                                    </div>
                                </ng-template>
                            </ngb-carousel>
                        </div>
                        <div class="cont" *ngIf="pubblicitaCorrente.type === 'player'">
                            <div class="video-background videoPlayerWrapper" #parent>
                                <video id="videoPlayer" preload="none" playsinline autoplay #videoPlayer disablepictureinpicture></video>
                            </div>
                        </div>
                        <div class="cont" *ngIf="pubblicitaCorrente.type === 'misto'">
                          <div *ngIf="isVideo(currentMedia)" class="video-background videoPlayerWrapper" #parent>
                            <video [src]="currentMedia" class="videoPlayerr" id="videoPlayerr" preload="none"  autoplay #videoPlayerr></video>
                          </div>
                          <div *ngIf="!isVideo(currentMedia)">
                            <img [src]="currentMedia" class="d-block  im " alt="Spot">
                          </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 p-0" *ngIf="layout.spots?.length > 0">
                <div class="pulsante-wrapper p-0" style="background-color: #0083ff;">
                    <h1 class="fixed-header">{{ layout?.title }}</h1>
                    <div class="col-12 p-4 scrollable-buttons">
                        <div class="row d-flex align-items-center justify-content-center">
                            <div *ngFor="let group of layout?.groups" class="col-12">
                                <div class="aa">
                                    <app-pulsante [gruppo]="group" [risorsee]="risorse"></app-pulsante><br>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="text-center" style="position: relative;">
                            <img [src]="logo?.file" alt="Logo azienda" class="company-logo">
                        </div>
                        <div class="tcopy" (click)="config()">
                            <span>&copy; {{ currentYear }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="!layout?.spots || layout.spots?.length === 0" class="p-container" [hidden]="!layout?.spots && layout.spots?.length === 0">
        <div class="p-wrapper p-0" style="background-color: #0083ff;">
            <div class="h-container">
                <h1 class="f-header">{{ layout?.title }}</h1>
            </div>
            <div class="b-container">
                <div class="s-buttons">
                    <div class="row g-4">
                        <div class="col-4" *ngFor="let group of layout?.groups">
                            <div class="p-container">
                                <div class="aa">
                                    <app-pulsante [gruppo]="group" [risorsee]="risorse"></app-pulsante>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-container">
                <div class="col-12" (click)="config()">
                    <div class="text-center" style="position: relative;">
                        <img [src]="logo?.file" alt="Logo azienda" class="company-logo">
                    </div>
                    <div class="tcopy">
                        <span>&copy; {{ currentYear }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
