.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f8f8f8;
}

.close {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.close span {
    font-size: 24px;
}

.modal {
    background-color: gray;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.modal-body {
    max-height: 400px;
    overflow-y: auto;
}

.err {
    border: 2px solid red;
}

.error-message {
    color: red;
    font-style: italic;
}

.modal-content {
    position: fixed;
    top: 30%;
    left: 30%;
    width: 40%;
}
