<div class="modal" tabindex="-1" role="dialog" id="categorieModal">
  <div class="modal-dialog centered" role="document">
    <div class="modal-content">
      <div class="modal-header d-flex justify-content-between align-items-start">
        <h5 class="modal-title">reparti queue</h5>
      </div>
      <div class="modal-body">
          <div *ngIf="items.length!=0">
            <div class="container">
              <div class="row">
                <div class="col" *ngFor="let item of items, index as i" (click)="modificaStato(item, i)">
                  <div class="image square">
                    <img [src]="item.immagine" alt="{{ item.nome }}" class="image-background" [id]="'elem' + i">
                    <div class="overlay">
                      <span>{{ item.nome }}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="items.length==0">
            <p class="no-reparti">inserire reparti</p>
          </div>
        </div>
      </div>
      <div class="modal-footer">

      </div>
    </div>
  </div>

