.image-square {
    position: relative;
    display: flex;
    align-items: center;
    background-color: white;
    width: 500px;
    height: 200px;
    border: 2px solid black;
    z-index: 25;
}

.content {
    display: flex;
    align-items: center;
    width: 100%;
}

.group-name {
    flex-grow: 1;
    padding: 10px;
    background-color: white;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    z-index: 2;
}

.group-info {
    position: absolute;
    color: white;
    font-weight: bold;
    font-size: 20px;
    z-index: 2;
}

.group-number {
    position: absolute;
    bottom: -20px;
    left: 338px;
    color: white;
    font-weight: bold;
    font-size: 70px;
    z-index: 25;
}

.group-queued {
    display: flex;
    position: absolute;
    top: 70px;
    left: 305px;
    width: 200px;
}

.image-background {
    width: 200px;
    height: 198px;
    z-index: 0;
}
