
.image {
  position: relative;
  width: 20%;
  height:80%;
  padding-bottom: 10%; /* Altezza in percentuale, creando un'area quadrata */
  border-radius: 10%; /* Rendi i bordi rotondi */
  overflow: hidden;
}


.image-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  object-fit: cover;
  filter: blur(3px); /* Regola l'opacità dell'immagine di sfondo se necessario */
  z-index: -1; /* Imposta lo sfondo sotto gli altri elementi */
}


.overlay {
  padding-top: 30%;
  position: relative; /* Imposta la posizione relativa per il contenuto */
  text-align: center;


  span {
    font-size: 1vw; /* Aumenta la dimensione del testo */
    color: black; /* Imposta il colore del testo */
    font-weight: bold; /* Imposta il testo in grassetto */
  }


  h2 {
    font-size: 3vw; /* Aumenta la dimensione del testo */
    color: black; /* Imposta il colore del testo */
    font-weight: bold; /* Imposta il testo in grassetto */
  }


}



